/**
 * Hero
 */

// Dependencies
@use 'config/tokens' as *;
@use 'config/media';
@use 'config/type';

.c-hero {
  padding: 32px;
}

.c-hero__content {
  margin: auto;
}

.c-hero__image {
  background-position: center top !important;
  background-size: cover !important;
  
  @include media.mq('tablet') {
    min-height: 450px;
  }

}

.c-hero__title {
  margin: 0;
  @include type.set('h1');
}

.c-hero__logo {
  max-width: 150px;
}

.c-hero__subtitle {
  @include type.set('h5');
}