
@use 'config/media';

.logo {
  width: 73px;
  height: 52px;
  
  @include media.mq('tablet') {
    width: 162px;
    height: 115px;
  }
}

.logo-small {
  width: 73px;
  height: 52px;
}

.logo-large {
  width: 162px;
  height: 115px;
}

.logo-cc-large {
  width: 168px;
  height: 74px;
}

.logo-nyco {
  width: 7.5rem;
  height: 4rem;

  @include media.mq('tablet') {
    width: 10rem;
    height: 5rem;
  }
}