/**
 * Navigation
 */

@use 'config/tokens' as *;
@use 'config/media';
@use 'config/color';
@use 'config/type';

.o-navigation {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  justify-content: space-between;
}

.o-navigation-logo {
  height: 51.81px;
  @include media.mq('tablet') {
    height: 115px;
  }
}

.o-navigation-link {
  color: inherit;
  margin-left: 20px;
  @include type.set('body');

  // @include media.mq('tablet') {
  //   font-size: 16px;
  // }

  // @include media.mq('desktop') {
  //   font-size: 24px;
  // }
}

.o-navigation__text {
  @include type.set('body');
  margin-left: .75rem;
  padding-right: 1rem;

  // @include media.mq('tablet') {
  //   font-size: 16px;
  // }

  // @include media.mq('desktop') {
  //   font-size: 24px;
  // }
}
