/**
 * Navigation
 */

@use 'config/tokens' as *;
@use 'config/media';
@use 'config/color';
@use 'config/type';

.o-navigation {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  justify-content: space-between;
}

.o-navigation-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  overflow-y: scroll;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    margin-bottom: .5rem;
  }
}

.o-navigation-items {
  min-width: 50%;
  padding-bottom: 1rem;

  @include media.mq('tablet') {
    padding-bottom: 0;
  }

}

.o-navigation-logo {
  height: 51.81px;
  @include media.mq('tablet') {
    height: 115px;
  }
}

.o-navigation-links {
  @include media.mq('tablet') {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.o-navigation-link {
  color: inherit;
  margin-left: 20px;
  @include type.set('body');

  // @include media.mq('tablet') {
  //   font-size: 16px;
  // }

  // @include media.mq('desktop') {
  //   font-size: 24px;
  // }
}

.o-navigation__text {
  @include type.set('body');
  margin-left: .75rem;
  padding-right: 1rem;

  // @include media.mq('tablet') {
  //   font-size: 16px;
  // }

  // @include media.mq('desktop') {
  //   font-size: 24px;
  // }
}
