// Dependencies
@use 'config/color' as *;
@use 'config/media';
@use 'config/card';

// .c-info-card {}

.c-info-card__title {
  padding: .5rem .5rem .25rem 1rem;
  border-radius: 25px 25px 0px 0px;
  background-color: #F4D8CD;
  margin: 0;
  font-size: 18px;

  @include media.mq('desktop') {
    font-size: 32px;
  }

}

.c-info-card__body {
  padding: .5rem .5rem .25rem 1rem;
  border-radius: 0px 0px 25px 25px;
  border-style: solid;
  border-width: 2px;
  font-size: 16px;

  @include media.mq('desktop') {
    font-size: 20px;
  }
  
}

.c-info-card--outline {
  @include card.card();
  border-width: 2px;
}

.c-info-card--outline__title {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}