// Dependencies
@use 'config/color' as *;
@use 'config/card';
@use 'config/type';

.c-inspiration-card {
  @include card.card();
}

.c-inspiration-card__header {
  display: flex;
  align-items: center;
}

.c-inspiration-card__marker {
  margin: 0;
  @include type.set('small');
  text-transform: uppercase;
}

.c-inspiration-card__title {
  margin: 0;
}

.c-inspiration-card-tags a {
  display: inline-block;
  margin-top: .25rem;
}

.c-inspiration-card__cta {
  text-align: right;
  margin-top: 1rem;
  padding-bottom: .5rem;
}