// Config

// Dependencies
@use 'config/tokens' as *;

@mixin button($background, $text) {
  padding: 10px 15px;
  font-family: inherit;
  font-size: 16px;
  background: $background;
  border-color: $background;
  border-style: solid;
  border-radius: 22px;
  border-width: 2px;
  color: $text;
  text-decoration: none;
}

@mixin hover($background, $border, $text) {
  background: $background;
  border-color: $border;
  color: $text;
}

@mixin pill($background, $text) {
  padding: 5px 10px;
  border-radius: 20px;
  background: $background;
  border-color: $background;
  border-style: solid;
  color: $text;
  font-size: 10px;
  text-decoration: none;
}