
// Dependencies
@use 'config/type';
@use 'config/media';

// Declaration
@mixin field(){
  @include type.set('small');
  border-style: solid;
  border-width: 2px;
  padding: 10px;

  @include media.mq('tablet') {
    @include type.set('body');
  }
}