@use 'config/tokens' as *;
@use 'config/type';

@mixin ul() {
  list-style: none;
}

@mixin li() {
  text-indent: -8px;
}

@mixin li-before($color) {
  content: "\2022";
  color: $color;
  font-weight: bold;
  display: inline-block; 
  width: .5em;
}