
// Dependencies
@use 'config/tokens' as *;
@use 'config/media';

// Declaration
@function get($key) {
  @return map-get($tokens, $key);
}

@function family($key) {
  @return map-get(get('font'), $key);
}

$sizes: map-get($tokens, 'font-size');
@mixin set($key) {
  font-family: map-get(get('font-family'), family($key));
  font-size: map-get(map-get($sizes, 'default'), $key);;
  font-weight: map-get(get('font-weight'), $key);
  font-style: map-get(get('font-style'), $key);
  line-height: map-get(get('line-height'), $key);

  @include media.mq('tablet') {
    font-size: map-get(map-get($sizes, 'desktop'), $key);;
  }
}

@function base($key) {
  @return map-get(map-get($tokens, 'typography'), $key);
}
