/**
 * Select
 */

@use 'config/fields';

.select {
  @include fields.field();
  background-color: transparent;
  padding-right: 28px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select__icon {
  margin-left: -20px;
  z-index: -1;
  pointer-events: none;
  color: inherit;
}

.select__label {
  margin-right: 12px;
}