/**
 * Buttons
 */

// Dependencies
@use 'config/tokens' as *;
@use 'config/buttons';
@use 'config/color';
@use 'config/media';

// Declarations
.btn--primary {
  @include buttons.button(color.$black, color.$white);

  &:hover {
    @include buttons.hover(transparent, color.$black, color.$black);
  }
}

.btn--secondary {
  @include buttons.button(color.$white, color.$black);

  &:hover {
    @include buttons.hover(transparent, color.$white, color.$white);
  }
}

.btn--tertiary {
  @include buttons.button(color.$white, color.$black);

  &:hover {
    @include buttons.hover(color.$black, color.$white, color.$white);
  }
}

.btn--faq {
  @include buttons.button(color.$green-light, color.$black);

  &:hover {
    @include buttons.hover(color.$black, color.$black, color.$white);
  }

}

.btn--inspiration,
a.btn--inspiration {
  @include buttons.button(color.$yellow, color.$black);
  border: none;

  &:hover {
    @include buttons.hover(color.$black, color.$black, color.$white);
  }

}

.btn--pill {
  @include buttons.pill(color.$light-gray, color.$black);
  
  &:hover {
    @include buttons.hover(color.$black, color.$black, color.$white);
  }
}

.btn--round,
a.btn--round {
  display: flex;
  align-items: center;
  border-radius: 100%;
  background-color: color.$black;
  width: 80px;
  height: 80px;
  padding: 12px;
  color: color.$white;
  text-decoration: none;

  @include media.mq('desktop') {
    width: 100px;
    height: 100px;
  }
}