/**
 * Breadcrumbs
 */

// Dependencies
@use 'config/tokens' as *;
@use 'config/media';
@use 'config/color';

.breadcrumbs { 
  font-size: 10px;
  color: color.$dark-gray-dark;

  a {
    color: inherit;
  }

  @include media.mq('tablet') {
    font-size: 12px;
  }
}