/**
 * Breadcrumbs
 */

// Dependencies
@use 'config/tokens' as *;
@use 'config/media';
@use 'config/color';

.breadcrumbs { 
  font-size: 16px;
  color: color.$dark-gray-dark;
  margin-bottom: .75rem;

  a {
    color: inherit;
  }

  @include media.mq('desktop') {
    font-size: 18px;
  }
}