/**
 * Accordion
 */

@use 'config/tokens' as *;
@use 'config/media';
@use 'config/color';

.c-accordion__toggle {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0;
  color: inherit;
}

.c-accordion__header { 
  pointer-events: none;
  width: 100%;
  padding: 0 .5rem;
  border-radius: 25px 25px;
  margin: 0;
  
  .c-accordion__toggle.active & {
    border-radius: 25px 25px 0px 0px;
  }
}

.c-accordion__header--primary{
  text-align: left;
  margin-left: 10px;
  font-weight: 600;
}
.c-accordion__header--secondary{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.c-accordion__body { 
  border-radius: 0px 0px 25px 25px;
  border-style: solid;
  border-top-style: hidden;
  border-width: 2px;
  overflow: hidden;
}

.c-accordion__toggle-active,
.c-accordion__toggle-inactive {
  display: flex;
  align-items: center;

  svg {
    margin: 0 10px;
  }
}

.c-accordion__toggle-active {
  pointer-events: none;
  display: none;
  visibility: hidden;

  .c-accordion__toggle.active & {
    display: flex;
    align-items: center;
    visibility: visible;
  }
}

.c-accordion__toggle-inactive {
  pointer-events: none;
  visibility: visible;

  .c-accordion__toggle.active & {
    display: none;
    visibility: hidden;
  }
}

.c-accordion__list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    background: color.$white;
    padding: .5rem 1rem;

    &:last-child {
      margin-bottom: 0;
      border: none;
    }

    @include media.mq('desktop') {
      padding: 1rem;
    }
  }
}