/**
 * Layout
 */

@use 'config/tokens' as *;
@use 'config/media';

.masonry {
  @include media.mq('desktop') {
    column-gap: 1.5em;
    column-count: 2;

    & > * {
      break-inside: avoid-column;
    }
  }
}